#subtitle {margin-top:0;}
header {
    margin:10px;
    border:1px solid Black;
    display:flex;
    flex-direction:column;
    background-color:rgb(204, 235, 255); 
    /* align-items:left; */
    padding-left: 10px;
    padding-top: 5px;
    gap: 1px;}
header > div {
    display: flex;
    align-items: center;}
header h1{
    margin:0;
    margin-left: 12px;
    margin-top:8px}
header h3 {
    margin-left: 12px;
    margin-top:10px;}
img {width:100px; height:100px;}
#logo {
    margin-bottom:5px;
    float:left;}